<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Waveflow</string>
	<key>CFBundleName</key>
	<string>Waveflow</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>We need access to capture system audio</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need microphone access to transcribe your speech.</string>
	<key>NSSystemExtensionUsageDescription</key>
	<string>We need system audio access to transcribe audio from your system.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>We need access to save audio recordings</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSLocalNetworkUsageDescription</key>
		<string>This app needs to access your local network to run the Ollama server.</string>
	</dict>
</dict>
</plist>
